.chat{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 90%;
    max-width: 1400px;

    height: 85vh;

    margin: 60px auto;
    border-radius: 16px;
    overflow: hidden;
}